.git
.gitignore
.gitattributes
.editorconfig
.phpunit.result.cache
.env
.env.example
node_modules
vendor
public/build
storage/logs
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
tmp_pdf_pages
tests
*.md
check_*.php
fix_*.php
recreate_*.php
phpunit.xml
Procfile
